{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}
<html>
    <head>
        <link href="{% static 'ProyectoWebApp/css/gestion.css' %}" rel="stylesheet">
</head>
<br>
<h2><b> AYUDANOS A AYUDAR, CON TU DONACION LO VAMOS A LOGRAR</b></h2>
<br>
<br>

<body>
    <nav>
    <a class=rv href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/fc94bbd0-6884-47f1-b9d9-51728b077295/express/?preference-id=696415104-4ad86a24-3bdf-462f-a4a2-ba2d75c55b55&router-request-id=5c906986-be04-4486-8514-fe63fdb5e7e3&p=b13491dc0690d7c35ddf94056b9e8d0c">Donar $ 200</a>
    <a class=rv href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/26b7c88d-757c-43c7-afbc-ae86222a1efd/express/?preference-id=696415104-dcbe5054-cb9f-4655-bc3f-91a0df204b52&router-request-id=cfdae3f1-cf65-4f1b-b41f-8ffe8d7a13ca&p=b13491dc0690d7c35ddf94056b9e8d0c">Donar $ 500</a>
    <a class=rv href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/9daab98e-0db0-49ae-b839-fc4b6aebfe2e/express/?preference-id=167898784-2a8e997a-40ad-4022-a1b9-7709892c4e72&router-request-id=80b895fb-8729-44bf-b799-38edcbd275b8&p=b13491dc0690d7c35ddf94056b9e8d0c">Donar $ 700</a>
    <a class=rv href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/ad76ada5-8b6e-41d3-88ca-bd5507c15054/express/?preference-id=696415104-2e99806d-1214-4798-aaa8-128da0748597&router-request-id=43fb077e-b400-4d24-9747-9076cb6542d6&p=b13491dc0690d7c35ddf94056b9e8d0c">Donar $ 1000</a>
    </nav>

    <br>
    <br>


<center>

<div class="LS81yb VICjCf j5pSsc db35Fc" tabindex="-1">
    <div class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd purZT-AhqUyc-II5mzb ZcASvf-AhqUyc-II5mzb pSzOP-AhqUyc-qWD73c Ktthjf-AhqUyc-qWD73c JNdkSc SQVYQc">
        <div class="JNdkSc-SmKAyb LkDMRd">
            <div class="" jscontroller="sGwD4d" jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                <div class="oKdM2c ZZyype Kzv0Me">
                    <div id="h.547fe04b006cf04a_3" class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb wHaque g5GTcb GNzUNc">
                        <div class="jXK9ad-SmKAyb">
                            <div class="tyJCtd mGzaTb Depvyb baZpAe">
                                <p dir="ltr" class="CDt4Ke zfr3Q">
                                    <span style="font-family: Roboto;">
                                        <strong> Podes donar lo que quieras, todo sirve...</strong>
                                    <span style="font-family: Roboto;">
                                        <strong> a través de mercado pago al número 3624-082451</strong>
                                    </span>
                                </p>
                                <p dir="ltr" class="CDt4Ke zfr3Q">CVU Mercado Pago</p>
                                <p dir="ltr" class="CDt4Ke zfr3Q">0000003100051311090815</p>
                                <p dir="ltr" class="CDt4Ke zfr3Q">Alias: casitadelarbolayala</p>
                                <p dir="ltr" class="CDt4Ke zfr3Q">
                                    <br>
                                </p>
                                <p dir="ltr" class="CDt4Ke zfr3Q">
                                    <span style="font-family: Roboto;">
                                        <strong>O también por TRANSFERENCIA BANCARIA a la cuenta de la FUNDACIÓN</strong>
                                    </span>
                                </p>
                                <p dir="ltr" class="CDt4Ke zfr3Q">
                                    <span style="font-family: Roboto;">
                                        <strong>Nro de Cuenta: 111369/00CBU: 3110030211000111369005</strong>
                                    </span>
                                </p>
                                <p dir="ltr" class="CDt4Ke zfr3Q">
                                    <span style="font-family: Roboto;">
                                        <strong>CUIT N°  20262120032 </strong>
                                    </span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<h2 class= wer> Nos podes ubicar en Fray Bertaca 4000 - Resistencia Chaco </h2>

</center>

</html>



{% endblock %}