{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}
<html>
    <head>
        <link href="{% static 'ProyectoWebApp/css/gestion.css' %}" rel="stylesheet">
</head>
<br>
<h2><b> AYUDANOS A AYUDAR, CON TU DONACION LO VAMOS A LOGRAR</b></h2>
<br>
<br>

<center>

<div class="LS81yb VICjCf j5pSsc db35Fc" tabindex="-1">
    <div class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd purZT-AhqUyc-II5mzb ZcASvf-AhqUyc-II5mzb pSzOP-AhqUyc-qWD73c Ktthjf-AhqUyc-qWD73c JNdkSc SQVYQc">
        <div class="JNdkSc-SmKAyb LkDMRd">
            <div class="" jscontroller="sGwD4d" jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                <div class="oKdM2c ZZyype Kzv0Me">
                    <div id="h.547fe04b006cf04a_3" class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb wHaque g5GTcb GNzUNc">
                        <div class="jXK9ad-SmKAyb">
                            <div class="tyJCtd mGzaTb Depvyb baZpAe">
                                <p dir="ltr" class="CDt4Ke zfr3Q">
                                    <span style="font-family: Roboto;">
                                        <strong>Donación a través de mercado pago al número 3624-082451</strong>
                                    </span>
                                </p>
                                <p dir="ltr" class="CDt4Ke zfr3Q">CVU Mercado Pago</p>
                                <p dir="ltr" class="CDt4Ke zfr3Q">0000003100051311090815</p>
                                <p dir="ltr" class="CDt4Ke zfr3Q">Alias: casitadelarbolayala</p>
                                <p dir="ltr" class="CDt4Ke zfr3Q">
                                    <br>
                                </p>
                                <p dir="ltr" class="CDt4Ke zfr3Q">
                                    <span style="font-family: Roboto;">
                                        <strong>O también podes donar dinero por TRANSFERENCIA BANCARIA a la cuenta de la FUNDACIÓN</strong>
                                    </span>
                                </p>
                                <p dir="ltr" class="CDt4Ke zfr3Q">
                                    <span style="font-family: Roboto;">
                                        <strong>Nro de Cuenta: 111369/00CBU: 3110030211000111369005</strong>
                                    </span>
                                </p>
                                <p dir="ltr" class="CDt4Ke zfr3Q">
                                    <span style="font-family: Roboto;">
                                        <strong>CUIT N°  20262120032 </strong>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</center>

</html>



{% endblock %}