{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

    {% for evento in eventos %}

<!--Uso parte del que usé en home-nosotros-->
<div class="imagen">
  <img class="derecha" src="{{evento.img.url}}" width="500px">
  <aside><h2 class="section-heading mb-4"><span class="section-heading-lower"> {{evento.titulo}} </span>
  </h2>{{evento.contenido|truncatechars:250}} </aside>
      <div class="reset"></div>
      
    </div>
</div>

<!--Uso parte del que usé en home-nosotros-->
{% endfor %}
{% endblock %}