{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

    {% for noticia in noticias %}

<!--Uso parte del que usé en home-nosotros-->
<div class="imagen">
  <img class="derecha" src="{{noticia.img.url}}" width="250px">
  <aside><h2 class="section-heading mb-4"><span class="section-heading-lower"> {{noticia.titulo}} </span>
  </h2>{{noticia.contenido|truncatechars:500}} </aside>
      <div class="reset"></div>
      <p><a class="btn btn-succes" href="{% url 'noticiasdetalle' id=noticia.id %}">Leer más &raquo;</a></p>
    </div>
</div>

<!--Uso parte del que usé en home-nosotros-->
{% endfor %}
{% endblock %}

